@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca:wght@100&family=Montserrat:ital,wght@0,400;1,100;1,200&display=swap');

:root{
    --darkbrow: #0D0D0D;
    --Grey:#BFBFBF ;
    --darkGrey: #404040;
}



*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
  
    
}
 img{
    max-width: 100%;
    display: block;
}

header{
    background-color: var(--darkbrow);
    min-height: 50px;
    
}
header p{
    color: #BFBFBF;
    padding: 20px;
    font-size: 20px;
}

section#frist img{
   border-radius: 5px;
   
   
}

    section#frist{
    background-color: var(--Grey);
    min-height:49em ;
    padding-bottom:30px ;
    
}


    .about{
     display: flex;
     flex-wrap: wrap;
     max-width: 900px;
     margin: 0 auto;  
     padding: 90px 0px 0px 30px;
    
}
    .about div#txtuser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
    min-width: 300px;
    width: 400px;
    padding: 0px 30px 20px 0px;
    text-align:left ;
    
    
}
    .about#picuser{
    align-items: center;
    min-height: 400px;
}

    div#line{
    align-items: center;
    border-bottom: 0.8px solid #404040;
    display: flex;
    margin: 20px 0px;
    width: 300px;
    text-align: center;  
}
    .about div#txtuser > h1{
    color: var(--darkGrey);
    text-align: left;
}
    .about div#txtuser > article{
    font-size: 20px;
}

main section#midle{
    background-color: var(--darkbrow);
    padding: 16px;
    min-height: 65em;
    
  
}

    #pics{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

    #pics>div{
    flex: 1 1 300px;
    margin:  10px;
    overflow: hidden;
}

    #pics>div img{
    border-radius: 3px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;

}
    #pics>div img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: opacity(80%);
}


aside{
    background-color: var(--Grey);
   
}
 aside h1{
     font-size: 29px;
 }

 





footer{
    background-color: var(--darkbrow);
    color:var(--Grey);
    min-height: 200px;
    min-width: 350px;
}
footer .contact{
    width: 200px;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    line-height: 25px;
    color: #bfbfbf9a;
}

footer h1{
    font-size: 25px;
    padding-bottom: 20px;
    color: #bfbfbf9a;
}